[Unit]
Description=Start Docker
Requires=docker.Service
After=docker.Service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a skillbox-app
ExecStop=/usr/bin/docker stop -t 2 skillbox-app

[Install]
wantedBy=default.target
